.center {
    margin: auto;
    width: 35%;
    border: 3px solid blue;
    padding: 10px;
    background-color:white;
  }
#mydiv {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
  }
  .posn {
    font-size: 30px;
    color:black;
    text-align: center;
}
.txt{
color: green;
}


.k{
  color:blue;
}
.y {
  background-color: lightblue;
}
.btn-space {
  margin-right: 5px;
  margin-left:5px
}